UID=1000
GID=1000

APP_URL=https://kudab.ru
# DB
POSTGRES_DB=kudab
POSTGRES_USER=kudab
POSTGRES_PASSWORD=kudab

# Ports
NGINX_PORT=80
NGINX_SSL_PORT=443
FRONTEND_PORT=3000
ADMIN_PORT=8080
RECOMMEND_PORT=8081

# Container Names
KUDAB_API_CONTAINER=kudab-api
KUDAB_PARSER_CONTAINER=kudab-parser
KUDAB_FRONTEND_CONTAINER=kudab-frontend
KUDAB_ADMIN_CONTAINER=kudab-admin
KUDAB_BOT_CONTAINER=kudab-bot
KUDAB_PUBLISHER_CONTAINER=kudab-publisher
KUDAB_RECOMMENDATIONS_CONTAINER=kudab-recommendations
KUDAB_NGINX_CONTAINER=kudab-nginx
KUDAB_DB_CONTAINER=kudab-db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispass

# Swagger
SWAGGER_PORT=8181