[submodule "services/kudab-api"]
	path = services/kudab-api
	url = git@github.com:kudab-ru/kudab-api.git
[submodule "services/kudab-bot"]
	path = services/kudab-bot
	url = git@github.com:kudab-ru/kudab-bot.git
	branch = remotes/origin/refactoring/base
[submodule "services/kudab-frontend"]
	path = services/kudab-frontend
	url = git@github.com:kudab-ru/kudab-frontend.git
	branch = main
[submodule "services/kudab-nginx"]
	path = services/kudab-nginx
	url = git@github.com:kudab-ru/kudab-nginx.git
[submodule "services/kudab-publisher"]
	path = services/kudab-publisher
	url = git@github.com:kudab-ru/kudab-publisher.git
[submodule "services/kudab-admin"]
    path = services/kudab-admin
    url = git@github.com:kudab-ru/kudab-admin.git
[submodule "services/kudab-recommendations"]
    path = services/kudab-recommendations
    url = git@github.com:kudab-ru/kudab-recommendations.git
[submodule "services/kudab-parser"]
	path = services/kudab-parser
	url = git@github.com:kudab-ru/kudab-parser.git
